@model IEnumerable<Tasks>

<div>
    <table class="table table-secondary">
        <thead class="tab">
            <tr>
                <th></th>
                <th><a class="text-dark" asp-action="SortTask" asp-route-id="StartDate">Start Date</a></th>
                <th><a class="text-dark" asp-action="SortTask" asp-route-id="EndDate">End Date</a></th>
                <th><a class="text-dark" asp-action="SortTask" asp-route-id="Title">Title</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tasks t in Model)
            {
                @if (t.IsEnd == false)
                {
                    <tr>
                        <td><a asp-action="EndTask" asp-route-id="@t.ID" class="btn btn-success btn-sm">End Task</a></td>
                        <td>@t.StartDate.ToString("dd-MM-yyyy") @t.StartTime.ToString("HH:mm")</td>
                        <td>@t.EndDate.ToString("dd-MM-yyyy") @t.EndTime.ToString("HH:mm")</td>
                        <td>@t.Title</td>
                        <td><a 
                               asp-action="DetailTask" 
                               asp-route-id="@t.ID" 
                               class="btn btn-info btn-sm">Detail</a> | 
                        <a asp-action="EditTask" 
                           asp-route-id="@t.ID" 
                           class="btn btn-secondary btn-sm">Edit</a> | 
                        <a asp-action="DeleteTask" 
                           asp-route-id="@t.ID" 
                           class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>